// material icons helper
.icon {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	
	// size variants
	&.icon-sm { font-size: 18px; }
	&.icon-md { font-size: 24px; }
	&.icon-lg { font-size: 32px; }
	&.icon-xl { font-size: 48px; }
	
	// fill variant
	&.icon-filled {
		font-variation-settings: 'FILL' 1;
	}
}
