# binaries
/taskbox
/cmd/server/server

# database
*.db
*.sqlite
*.sqlite3

# compiled assets
/static/css/*.css
/static/css/*.css.map

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# temp
*.log
*.tmp
